@font-face{
  src:url("fonte/K2D/K2D-ExtraLight.ttf");
  font-family: K2D;
}

*{
    margin:0;
    padding:0;
  }

  header{
    background-color: #0d6efd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #1b85dc;
    height: 90px;
    display:flex;
  }

  #logo{
    width: 90px;
    height: 90px;
    display:flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
  }

  #logo > img{
    height: 60px;
  }
  h1{
    font-family: K2D;
    color:white;
    display: flex;
    align-items: center;
  }

  main{
    min-height: calc(80vh - 90px);
  }

  #add-note{
    position: fixed;
    left:2%;
    top:calc(90px + 4%);
  }
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card a{
    text-decoration: none;
  }

  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    width: 90vw;
    padding:10px;
    
  }

  #close-modal{
    float:right;
  }

  #modal{
    border:1px solid #1b85dc;
    padding:2vh 2vw;
    display:none;
    border-radius: 5px;
  }
  label{
    font-family: K2D;
    font-weight: bold;
    color:#0d6efd
  }
  #controls-note{
    display:flex;
    gap:10px;
  }
